html,
body,
#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: sans-serif;
    font-size: 15px;
}

#abschnitt {
    position: absolute;
    left: 50px;
    top: 40px;
}

#abschnitt input {
    width: 90px;
}

#sidebar {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 210px;
}

#tabs .ui-tabs-panel,
#steuerung>*,
#zoomToExtent,
#tools>* {
    border-radius: 5px;
    margin-bottom: 3px;
    border: 1px solid gray;
}

#tools>* {
    display: block;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    width: 200px;
    /*overflow-x: hidden;*/
    float: left;
    clear: both;
    max-width: 200px;
}

form table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

form table,
th,
td {
    border: 1px solid black;
}

.nachricht {
    position: absolute;
    top: 50px;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    vertical-align: center;
    display: none;
    font-size: 18px;
    font-family: sans-serif;
}

form#hinzu,
form#quer_del,
form#loeschen {
    text-align: center;
    display: none;
}

form#quer_del input[type="button"] {
    background-color: red;
    color: white;
    font-weight: 600;
}

#tabs a.ui-tabs-anchor {
    padding: .5em 0.3em;
}

#tabs {
    padding: 0px;
}

#tabs,
#tabs .ui-widget-header,
#tabs .ui-tabs-nav {
    background: none;
    border: none;
}

#tabs .ui-widget-content {
    border: 1px solid gray;
    height: 140px;
}

#tabs .ui-widget-content label {
    line-height: 1.6;
}

#tab_Querschnitt.ui-widget-content {
    background-color: rgba(255, 243, 188, 0.8);
}

#tab_Otaufstvor.ui-widget-content {
    background-color: rgba(250, 182, 182, 0.8);
}

#tab_Otstrauspkt.ui-widget-content {
    background-color: rgba(212, 255, 214, 0.8);
}

#steuerung_sonstige {
    background-color: rgba(212, 212, 212, 0.8);
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    line-height: 1.6;
    border: 1px solid gray;
}

input[type="radio"]:checked+label {
    font-weight: 500;
    text-shadow: 0px 0px 5px rgb(2, 105, 189);
}

form#suche {
    position: absolute;
    top: .5em;
    left: 20em;
    display: block;
    background: rgba(255, 255, 255, 0.8);
    padding: 3px;
    overflow-x: hidden;
}

/* Tooltip fürs Messen */

.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}

.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.tooltip-static:before {
    border-top-color: #ffcc33;
}

div#zurueck {
    position: absolute;
    bottom: 2.5em;
    left: .5em;
    display: block;
    background: rgba(255, 255, 255, 0.4);
    padding: 2px;
    overflow-x: hidden;
    border-radius: 4px;
}

div#zurueck a {
    text-decoration: none;
    display: block;
    padding: 3px;
    background-color: rgba(0, 60, 136, 0.5);
    color: white;
    border: none;
    margin: 1px;
    border-radius: 2px;
    text-align: center;
}

div#zurueck a:hover {
    background-color: rgba(0, 60, 136, 0.7);
}

span.hotkey_alt {
    text-decoration: underline;
    text-decoration-color: red;
}

.tableWithBorder {
    margin: 10px;
    border-collapse: collapse;
}

.tableWithBorder td {
    border: 1px solid #888888;
    padding: 5px;
}

.tool_form input[type=submit],
.tool_form input[type=button] {
    margin-top: 10px;
    border: none;
    width: 95%;
    padding: 7px;
}

.tool_form input[type=submit]:enabled,
.tool_form input[type=button]:enabled {
    background-color: rgb(76, 175, 80);
}

.tool_form input[type=submit]:disabled,
.tool_form input[type=button]:disabled {
    color: rgb(128, 128, 128);
    background-color: rgb(204, 204, 204);
}

.tool_form input[type=submit]:enabled:hover,
.tool_form input[type=button]:enabled:hover {
    background-color: rgb(50, 122, 52)
}

button#zoomToExtent,
button#loadExtent {
    background-color: #ccc;
    float: left;
    border: 1px solid #999;
    /*outline: none;*/
    cursor: pointer;
    padding: 5px 5px;
    width: 100%;
    transition: 0.3s;
}